				
		<!-- PAGE TITLE -->
		<section id="page-title" style="background: url('images/bg016.jpg')" data-stellar-background-ratio="0.6" class="page-title-center page-title-animate page-title-parallax text-light">
			<div class="background-overlay"></div>
			<div class="container">
				<div class="page-title col-md-8 text-shadow-dark">
					<h1 class="text-uppercase text-medium">SUCCESSFUL CASES</h1>
				</div>
			</div>
		</section>
		<!-- END: PAGE TITLE -->
		
		<section>
			<div class="container">				
				<div class="row">

					<!-- LEFT COLUMN: Content -->
					<div class="post-content col-md-9">	
						
						<div>
							<p><{getcategories id="36" template="<a href=()[url]()>Successful&nbsp;Cases</a>"}> <i class="fa fa-angle-right"></i> <{$title}></p>
							<h3><{$title}></h3>			
							<div class="seperator"></div>
							<{$data}>
							<div class="seperator"></div>
						</div>
						
					</div>
					<!-- END: LEFT COLUMN: Content -->		

					<!-- RIGHT COLUMN: Sidebar -->
					<div class="mobile-no-show sidebar col-md-3">
						<{include file="right.htm"}>
					</div>
					<!-- END: RIGHT COLUMN: Sidebar -->					
					
				</div>
			</div>
		</section>
		
		<section class="text-light parallax background-overlay p-t-150 p-b-150" style="background-image: url('images/bg022.jpg'); background-position: 50% 90px;" data-stellar-background-ratio="0.6">
			<div class="container">
				<div class="heading heading-center headingnoafter" style="margin-bottom: -40px;">
					<h2>Get Your FREE Trial Today</h2>
					<span class="lead">Get started in just minutes…</span>
					<a href="download.htm" class="button transparent rounded"><span>Start Your FREE Trial Today</span></a>
				</div>						
			</div>
		</section>
