<div class="eula">
	<ul>
		<li>
			CCBoot License Policy (<a href="license-policy.htm">more</a>)
		</li>
		<li>
			Problems with cracked CCBoot license (<a href="problems-with-cracked-ccboot-license.htm">more</a>)
		</li>
		<li>
			We will send the license code within 24 hours due to the differences in time zones.
		</li>
		<li>
			If you want to add license to the existing license, please purchase the additional license first, and then email us for merging them.
		</li>
		<li>
			We offer one chance to split the purchased license as your wish. i.e, split 80 PCs license to 30 PCs and 50 PCs.
		</li>
		<li>
			How to verify your License is genuine or not? (<a href="http://user.youngzsoft.com/verify.php?regsoftware=ccboot" target="_blank">more</a>)
		</li>
		<li>
			If you change your server, please activate your license before registration. (<a href="http://user.youngzsoft.com/active.php?regsoftware=ccboot" target="_blank">more</a>)
		</li>
	</ul>
</div>
<p>
	<br />
	
</p>
<p>
	Youngzsoft 中文沟通与联系 QQ:1153624014 (苏工)
</p>
<br />