						
						<div class="widget clearfix widget-search mobile-no-show">
							<form class="form-inline" method="post" action="javascript:searchUrl()">
								<div class="input-group">
									<input type="text" name="q" placeholder="Search our Wiki..." class="form-control" id="get_keywords">
									<span class="input-group-btn">
										<button type="submit" class="btn color btn-primary"><i class="fa fa-search"></i></button>	
									</span>
								</div>
							</form>
						</div>
						
						<!--Widget: Links -->
						<div class="widget clearfix widget-blog-articles">
							<h4 class="widget-title">Useful Links</h4>
							<ul class="list-posts list-medium">
								<li><a href="http://forum.icafeman.com/" target="_blank">CCBoot User Forum</a></li>
								<li><a href="wiki-reasons-and-solutions-for-the-failure-of-booting-the-client-side.htm">Client Diskless Boot Failed</a></li>
								<li><a href="wiki-server-hardware-requirements.htm">Server Hardware Requirements</a></li>
								<li><a href="wiki-disk-cache-settings.htm">Disk Cache Settings and Recommend</a></li>
								<li><a href="wiki-server-requirements.htm">Server OS System Requirements</a></li>
								<li><a href="wiki-how-to-solve-client-lag.htm">How to Solve Client Lag and Unsmooth</a></li>
								<li><a href="wiki-solutions-for-blue-screen.htm">Solutions for Blue Screen</a></li>
								<li><a href="wiki-single-image-for-multiple-specifications.htm">Single Image for Multiple Specs</a></li>
								<li><a href="wiki-server-and-client-optimization.htm">Performance Optimization</a></li>
								<li><a href="wiki-troubleshoots.htm">Diskless Boot Troubleshoots</a></li>
								<li><a href="virtual-disk.htm">CCBoot Used As Virtual Disk Game Server</a></li>
							</ul>
						</div>
						
						<!--Widget: Links -->
						<div class="widget clearfix widget-blog-articles">
							<h4 class="widget-title">Latest success stories</h4>
							<ul class="list-posts list-medium">
								<{getitems num="5" category="$v_case_category_id" includesubcategory="1" orderby="update_reverse" searchtext="1" template='
								<li><a href=()[url]() target="_blank">[title]</a></li>
								'}>
							</ul>
						</div>
