<{include file="admincp_xheader.htm"}>
<script>
function confirmdelete() {
	return confirm("<{$lan.suredeltemplate}>");
}
</script>
<style type="text/css">
	html{overflow-x:hidden;}
	.leftinfo{float:none;margin-right:188px;_margin-right:206px;}
	.rightinfo{float:none;position:absolute;top:0px;right:0px;width:185px;display:none;margin-top:0px;z-index:1;}
</style>
<body>
<div class="block"></div>
<div id="leftinfo" class=''>
	<table cellspacing="1" cellpadding="4" align="center" class="commontable width100">
		<tr class="header">
			<td colspan="2"><div class="righttop"><{h k='template'}></div><{$lan.maintemplate}></td>
		</tr>
		<tr>
			<td>
				<table  cellpadding="4" cellspacing="1" class="commontable width100">
				<tr class="header">
					<td width="20">ID</td>
					<td><{$lan.filename}></td>
				</tr>
				<{$str_maintemplates}>
				</table>
				<div class="block"></div>
				<table  cellpadding="4" cellspacing="1" class="commontable width100">
				<tr class="header"  style='width:100%'>
					<td><{$lan.addnewtemplate}></td>
				</tr>
				<form action="index.php?file=admincp&action=templates" method="post">
				<input type="hidden" name="prefix" value=",">
				<tr>
					<td>
						<input type="text" name="templatename" size="10" class="mustoffer">.htm&nbsp;
						<input type="submit" name="addnewtemplate" value="<{$lan.add}>">
					</td>
				</tr>
				</form>
				</table>
			</td>
		</tr>
	</table>
	<div class="block"></div>
	<table cellspacing="1" cellpadding="4" align="center" class="commontable width100">
		<tr class="header">
			<td colspan="2"><div class="righttop"><{h k='template'}></div><{$lan.subtemplate}></td>
		</tr>
		<tr>
			<td>
				<table cellpadding="4" cellspacing="1" class="commontable width100">
				<tr class="header">
					<td width="20">ID</td>
					<td><{$lan.filename}></td>
				</tr>
				<{$str_subtemplates}>
				</table>
				<div class="block"></div>
				<table cellpadding="4" cellspacing="1" class="commontable width100">
				<tr class="header" style='width:100%'>
					<td><{$lan.addnewtemplate}></td>
				</tr>
				<form action="index.php?file=admincp&action=templates" method="post">
				<input type="hidden" name="prefix" value="">
				<tr>
					<td>
						<input type="text" name="templatename" size="10" class="mustoffer">.htm&nbsp;
						<input type="submit" name="addnewtemplate" value="<{$lan.save}>">
					</td>
				</tr>
				</form>
				</table>
			</td>
		</tr>
	</table>
</div>
<{include file='templatehelp.htm'}>
<div style="clear:both;"></div>
<script type="text/javascript">

$(document).ready(function(){
	safeloadiframe("http://www.akhtm.com/embed/template1.htm", 'dyframe', 'rightinfo', 'leftinfo', 'leftinfo');
});

</script>
</body>
</html>