<{include file="admincp_xheader.htm" }>
	<body>
		<div class="block">
		</div>
		<form action="index.php?file=admincp&action=template&job=save" method="POST">
			<input type="hidden" name="template" value="<{$template}>">
			<table cellspacing="1" cellpadding="4" align="center" class="commontable width100">
				<tr class="header">
					<td colspan="3">
						<div class="righttop">
							<a href="<{h name='template'}>" target="_blank">
								<{$lan.help}>
							</a>
						</div>
						<{$lan.system_templates}>
							(
							<{$template}>
								)
					</td>
				</tr>
				<tr>
					<td align="center">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<textarea name="html" rows="25" class="template"><{$str_template}></textarea>
								</td>
								<td width="185" style="width:185px;" valign="top">
									<iframe style="width:185px;padding-left:5px;" height="380" frameborder="0"
									scrolling="no" src='http://www.akhtm.com/<{$language}>_template.htm'>
									</iframe>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<center>
				<br />
				<input type="submit" value="<{$lan.save}>" name="save_template">
			</center>
		</form>
<script>
$("textarea").keydown(function(e) {
    if(e.keyCode === 9) { // tab was pressed
        // get caret position/selection
        var start = this.selectionStart;
        var end = this.selectionEnd;

        var $this = $(this);
        var value = $this.val();

        // set textarea value to: text before caret + tab + text after caret
        $this.val(value.substring(0, start)
                    + "\t"
                    + value.substring(end));

        // put caret at right position again (add one for the tab)
        this.selectionStart = this.selectionEnd = start + 1;

        // prevent the focus lose
        e.preventDefault();
    }
});
</script>		
	</body>
	
	</html>