<{include file="admincp_header.htm"}>
<script language="javascript">
function deletevariable(variable) {
	if(confirm('<{$lan.suredelvariable}>')) {
		document.location='index.php?file=admincp&action=variables&job=delete&vc=<{$vc}>&variable=' + variable;
	}
}
</script>
<body>
<div class="block"></div>
<form enctype="multipart/form-data" action="index.php?file=admincp&action=savevariable" method="post">
<table cellpadding="4" cellspacing="1" align="center" class="commontable">
	<tr class="header">
		<td colspan="2"><{$lan.setting}></td>
	</tr>
	<{$html}>
	<tr>
		<td colspan="2" align="center">
		<input type="submit" value="<{$lan.save}>">
		</td>
	</tr>
</table>
</form>
</body>
</html>