<{include file="admincp_header.htm"}>
<script type="text/javascript">
$(document).ready(function(){
	currentmenu("app", "appshop");
	$(".install").click(function() {
		alert("<{$lan.newwindowinstallapp}>");
	})
})
</script>
<body>
<div class="block"></div>
<table cellspacing="1" cellpadding="4" align="center" class="commontable width100">
	<tr class="header">
		<td colspan="3"><div class="righttop"><{h k="modules:help"}></div><{$apppagename}></td>
	</tr>
	<tr>
		<td>
			<div class="appcontent">
				<{$html}>
				<div style="clear:both;"></div>
			</div>
		</td>
	</tr>
</table>
</body>
</html>