<{include file="admincp_header.htm"}>
<base target="_blank">
<body scroll="no">
<div class="block"></div>
<table cellspacing="1" cellpadding="4" class="commontable width100">
<tr class="header"><td>
<div class="righttop"><{$lan.welcome}>,<{$admin_id}></div>
<{$lan.siteinfo}>
</td>
</tr>
<tr>
<td>
<div class='welcomeright'>
<!--iframe frameborder="0" scrolling="no" src='http://www.akhtm.com/<{$language}>_dynamic.htm?ver=<{$akversion}>&charset=<{$header_charset}>&theme=<{$theme}>'></iframe-->
</div>
<{$lan.siteitems}>:<{$items}>
<br>
<{$lan.sitepvs}>:<{$pvs}>
<br>
<{$lan.siteeditors}>:<{$editors}>
<br>
<{$lan.siteattachments}>:<{$attachments}>
<br>
<{$lan.siteattachmentsizes}>:<{$attachmentsizes}>
<br>
</td>
</tr>
</table>
<div class="block"></div>
<table cellspacing="1" cellpadding="4" class="commontable width100">
<tr class="header">
<td><{$lan.systeminfo}></td>
</tr>
<tr>
<td>
<div class='welcomeright' style='height:155px;'>
<!--iframe height="200" frameborder="0" scrolling="no" src='http://www.akhtm.com/<{$language}>_webmaster.htm?ver=<{$akversion}>&charset=<{$header_charset}>&theme=<{$theme}>'></iframe-->
</div>
<{$lan.os}>:<{$os}>
<br>
<{$lan.phpversion}>:
<a href="index.php?file=welcome&action=phpinfo" target="_self"><{$phpversion}> phpinfo()</a> 
(<a href="index.php?file=welcome&action=phpmodules" target='_self'><{$lan.phpmodule}></a>)
<br>
<{$lan.dbtype}>:<{$dbtype}>(<{$lan.version}>:<{$dbversion}>)
<br><{$lan.akversion}>:<{$akversion}>&nbsp;
<!--(<a href='http://list.qq.com/cgi-bin/qf_invite?id=fdf3604eaca11b4b163f735ceda733e103359eeb032cca38'><{$lan.dingyue}></a>)-->
<span id="newversion"></span>
<br>
<{$lan.maxupload}>:<{$maxupload}>
<br>
<{$lan.maxexetime}>:<{$maxexetime}>S
<br>
<{$lan.servertime}>:<{$servertime}>
<br>
<{$lan.correcttime}>:<{$correcttime}>
<br>
</td>
</tr>
</table>
<div class="block"></div>
</body><!--script src='index.php?file=welcome&action=checknew'></script-->
</html>