<{include file="admincp_header.htm" }>
<body>
	<div class="block">
	</div>
	<form id="editpage" name="editpage" action="index.php?file=admincp&action=specialpages&id=<{$id}>" method="POST">
		<table width="100%" border="0" align="center" cellpadding="4" cellspacing="1" class="commontable">
			<tr class="header">
				<td colspan="2">
					<{$lan.specialpage_edit}>
				</td>
			</tr>
			<tr>
				<td width="60">
					<{$lan.pagename}>
				</td>
				<td>
					<input type="text" name="pagename" size="20" value="<{$pagename}>" class="mustoffer">
				</td>
			</tr>
			<tr>
				<td>
					<{$lan.template}>
				</td>
				<td>
					<select name="template" class="mustoffer">
						<{$str_templates}>
					</select>
				</td>
			</tr>
			<script>
				document.editpage.template.value = '<{$template}>';
			</script>
			<tr>
				<td>
					<{$lan.filename}>
				</td>
				<td>
					<input type="text" name="filename" size="20" value="<{$filename}>">
					Please prefix with '/' (such as /index.htm)
				</td>
			</tr>
			<tr>
				<td>
					<{$lan.data}>
				</td>
				<td>
					<div>
						<textarea name="data" id="data" style='width:100%;height:400px;' xclass="xheditor {hoverExecDelay:-1,upImgUrl:'index.php?file=upload&id=<{$id}>',upImgExt:'jpg,jpeg,gif,png',tools:'Source,Pastetext,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Link,Unlink,Anchor,Img,Hr,Table',loadCSS:'<style>body{font-size:14px;}</style>'}"><{$data}></textarea>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="saveeditpage" size="20" value="<{$lan.save}>">
				</td>
			</tr>
		</table>
	</form>
<script>
$("textarea").keydown(function(e) {
    if(e.keyCode === 9) { // tab was pressed
        // get caret position/selection
        var start = this.selectionStart;
        var end = this.selectionEnd;

        var $this = $(this);
        var value = $this.val();

        // set textarea value to: text before caret + tab + text after caret
        $this.val(value.substring(0, start)
                    + "\t"
                    + value.substring(end));

        // put caret at right position again (add one for the tab)
        this.selectionStart = this.selectionEnd = start + 1;

        // prevent the focus lose
        e.preventDefault();
    }
});
</script>	
</body>
</html>