<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$header_charset}>">
<title><{$sitename}><{$lan.cp}>
</title>
<meta name="Robots" content="NOINDEX,NOFOLLOW,noarchive" />
<META HTTP-EQUIV="pragma" CONTENT="no-cache"> <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="expires" CONTENT="0"><meta http-equiv="Content-Script-Type" content="text/javascript" />
<link href="<{$core_url}>images/admin/admin.css" rel="stylesheet" type="text/css">
<script language="javascript" src="<{$core_url}>images/admin/admin.js"></script>
<{if $customcss}>
<link href="<{$ak_url}>configs/customer.css" rel="stylesheet" type="text/css">
<{/if}>
<script language="javascript" src="<{$jquery}>">
</script>
<script>
if(typeof jQuery == 'undefined') 
{
	if(confirm("<{$lan.jqueryfail}>")) 
	{
		document.location = "http://www.akhtm.com/manual/custom-jquery.htm";
	}
} 
else 
{
	if(jQuery.attrHooks != undefined) 
	{
		jQuery.attrHooks['width']=jQuery.attrHooks['height']=null;
	}
}
</script>
<script charset="utf-8" src="<{$core_url}>include/xh/xheditor-1.1.14-zh-cn.min.js"></script>
</head>