<{include file="admincp_xheader.htm"}>
<script language="javascript">
	function resizebody() 
	{
		bodywidth = pageWidth() - <{$menuwidth}> - 4;
		$("#bodyiframe").attr("width", bodywidth + "px");
		bodyheight = pageHeight() - 80;
		$("#bodyiframe").attr("height", bodyheight + "px");
	}
	function pageWidth() 
	{
		if($.browser.msie) 
		{
			return document.compatMode == "CSS1Compat" ? document.documentElement.clientWidth : document.body.clientWidth;
		} 
		else 
		{
			return self.innerWidth;
		}
	}
	function pageHeight() 
	{
		if($.browser.msie) 
		{
			return document.compatMode == "CSS1Compat" ? document.documentElement.clientHeight : document.body.clientHeight;
		} 
		else
		{
			return self.innerHeight;
		}
	}
	$(document).ready(
		function()
		{
			resizebody();
			$(window).resize(
				function() 
				{
					resizebody();
				}
			);
			$("#nav li").click(
				function()
				{
					id = this.id;$('#c').hide();
					$("#nav li").each(
						function()
						{ 
							if(this.id == id) 
							{
								this.className = "current";
							} 
							else 
							{
								this.className = "";
							}
						}
					);
					$("#menu .menu_body").each(
						function()
						{
							if(this.id == "menu_" + id) 
							{
								this.style.display = "block";
							} 
							else 
							{
								this.style.display = "none";
							}
						}
					);
				}
			);
			$("#menu a").click(
				function()
				{
					var li = $(this).parent();
					li.addClass("current");
					var o = li.offset();
					var w = li.css('width');
					$('#c').css('left', (<{$menuwidth}> + 2) + 'px');
					$('#c').css('top', o.top + 'px');
					$('#c').css('z-index', '9');
					$('#c').show();
					li.prevAll().removeClass('current');
					li.nextAll().removeClass('current');
				}
			);
			$('#menu a').focus(
				function()
				{
					if(this.blur)
					{
						this.blur();
					};
				}
			);
			$("#nav li:first").click();
		}
	);
</script>
<base target="mainFrame">
<body style="padding:0px;height:100%;overflow:hidden;" scroll="no">
<div id="c"></div>
<div id="header">
<{if $customed}>
<div id="switchmode">
<{if $usermode eq "editor"}>
<a href='index.php?file=admincp&action=admin' target='_self'>
<{$lan.switchadmin}></a>
<{else}>
<a href='index.php?file=admincp&action=custom' target='_self'>
<{$lan.switcheditor}></a>
<{/if}>
</div>
<{/if}>
<div id="logo">
<a href='<{$softhomepage}>' target='_blank'><img src="<{$logo}>" border="0" /></a>
</div>
<div id="favorite"><{$favorite}></div>
<div id="createhtml"><{$createhtml}></div>
<div id="webeditor"><{$webeditor}></div>
<div id="account"><{$account}></div>
<div id="nav"><{$nav}></div>
</div>
<div id="menu" style="width:<{$menuwidth}>px;"><{$menu}></div>
<div xstyle="margin-left:<{$menuwidth2}>px;overflow:hidden;background-color:#9EB6D8;" class="mainfrom">
<iframe name="mainFrame" id="bodyiframe" src="index.php?file=admincp&action=categories" frameborder="0" style="background-color:#9EB6D8;">
</iframe>
<div style="clear:both;"></div>
</div>
</body>
</html>