<?xml version="1.0" encoding="utf-8" ?>
<menus>
	<group id="favorite" text="lan.qiucklinks">
		<menu url="index.php?file=admincp&action=categories">lan.category</menu>
		<menu url="index.php?file=admincp&action=items&module=1">lan.item</menu>
		<menu url="index.php?file=admincp&action=newitem">lan.additem</menu>
	</group>
	<group id="createhtml" text="lan.batchcreatehtml">
		<menu url="index.php?file=admincp&action=createcategory">lan.createcategory</menu>
		<menu url="index.php?file=admincp&action=createitem">lan.createitem</menu>
	</group>
	<group id="webeditor" text="webeditor">
		<menu url="index.php?file=admincp&action=specialpages">lan.page</menu>
		<menu url="index.php?file=admincp&action=templates">lan.template</menu>
	</group>
	<group id="account" text="lan.account">
		<menu url="index.php?file=setting&action=generally">lan.generallysetting</menu>
		<menu url="index.php?file=admincp&action=variables">lan.variable</menu>
		<menu url="index.php?file=admincp&action=modules">lan.module</menu>
		<menu url="index.php?file=welcome&action=runsql">lan.runsql</menu>
		<menu url="index.php?file=welcome&action=updatecache">lan.updatecache</menu>
		<menu url="index.php?file=welcome">lan.returntosystemdefault</menu>
		<menu url="index.php?file=account&action=manageaccounts">lan.accountmanage</menu>
		<menu url="index.php?file=account&action=changepassword">lan.changepassword</menu>
		<menu url="index.php?file=account&action=logout#">lan.logout</menu>
	</group>
	<group id="content" text="lan.content">
		<menu url="index.php?file=admincp&action=specialpages">lan.page</menu>
		<module>all</module>
		<menu url="index.php?file=spider&action=spiderpage">lan.spiderpage</menu>
		<menu url="index.php?file=admincp&action=users">lan.user</menu>
		<menu url="index.php?file=admincp&action=allcomments">lan.comment</menu>
	</group>
	<group id="system" text="lan.system">
		<menu url="index.php?file=admincp&action=categories">lan.category</menu>
		<menu url="index.php?file=admincp&action=sections">lan.section</menu>
		<menu url="index.php?file=admincp&action=templates">lan.template</menu>
		<menu url="index.php?file=admincp&action=variables">lan.variable</menu>
		<menu url="index.php?file=admincp&action=modules">lan.module</menu>
		<menu url="index.php?file=se">lan.searchengine</menu>
		<menu url="index.php?file=spider">lan.spider</menu>
		<menu url="index.php?file=admincp&action=filters">lan.filter</menu>
	</group>

	<group id="setting" text="lan.setting">
		<menu url="index.php?file=setting&action=generally">lan.generallysetting</menu>
		<menu url="index.php?file=setting&action=functions">lan.functionssetting</menu>
		<menu url="index.php?file=setting&action=front">lan.frontsetting</menu>
		<menu url="index.php?file=setting&action=user">lan.usersetting</menu>
		<menu url="index.php?file=setting&action=attach">lan.attachsetting</menu>
		<menu url="index.php?file=setting&action=service">lan.servicesetting</menu>
		<menu url="index.php?file=setting&action=tk">lan.tksetting</menu>
		<menu url="index.php?file=setting&action=alipay">lan.alipaysetting</menu>
	</group>
	<group id="tools" text="lan.tools">
		<menu url="index.php?file=welcome&action=optimize">lan.optimize</menu>
		<menu url="index.php?file=welcome&action=updatecache">lan.updatecache</menu>
		<menu url="index.php?file=welcome&action=checkwritable">lan.checkwritable</menu>
		<menu url="index.php?file=db&action=export">lan.backupdb</menu>
		<menu url="index.php?file=db&action=import">lan.restoredb</menu>
		<menu url="index.php?file=welcome&action=runsql">lan.runsql</menu>
		<menu url="index.php?file=welcome&action=updatefilenames">lan.updatefilenames</menu>
	</group>
</menus>