*{scrollbar-base-color:#F8F8F8;scrollbar-arrow-color:#698CC3;font-size:12px;font-family:Verdana;font-weight:normal;margin:0px;text-decoration:none;}
body{background-color:#ccc;margin:0px;padding:0px 2px;}
frame{background-color:#ccc;margin:0px;}
li,ul{margin:0px;padding:0px;}
b{font-weight:bold;}
a,a:visited{color:#003366}
a:hover{text-decoration:underline}
table{word-break:break-all;}
input{font-family:12px; padding:2px;}
input[type="submit"]{font-family:12px; padding:2px; padding-left:16px; padding-right:16px;}
textarea{font-size:14px;padding:2px;line-height:18px;}
.template{font-family:Courier New;width:99%;font-size:12px;margin-right:180px;}
form{margin:0px;border:0px;padding:0px;}

.mustoffer{background-color:#FFFFD0;}
.commontable{background:#fff;border:1px solid #6093ca;margin:0px auto;}
.commontable td{xbackground:#F8F8F8;line-height:19px;}
.header{border:1px solid #fff;height:13px;overflow:hidden;border-bottom:0px;font:12px Tahoma,Verdana;color:#FFFFFF;background-color:#6093ca;padding:4px;}
.header a,.header a:visited{color:#FFF}
.header td{background:#6093ca;line-height:17px;}
.content{background:#FFF;padding:5px;}
.mininum,.mininum *{font-size:9px;}
.width100{width:100%;}

.block{display:block;height:3px;overflow:hidden;}
.block2{display:block;height:5px;overflow:hidden;}
#query_debug{border:1px dashed #222222;width:550px;margin:0px auto;font-family:Courier New;line-height:20px;background-color:#FFFFE0;padding:10px;text-align:left;}
.login{text-align:right;}

.bold{font-weight:bold}
.red{color:#FF0000}
.green{color:#336600}
.alert{color:#FF0000}
.righttop{float:right;}
.index {color:#FFF;}
.index li{float:left;padding:0px 2px 1px 2px;background:#9EB6D8;margin-right:3px;list-style-type:none;border:1px #9EB6D8 solid;}
.index a,.index a:visited{color:#000;}
.index .page{background:#FFF;border:1px solid #FFF;}
.index .page a,.index .page a:visited{color:#000;}
#categoriestree{line-height:15px;}
#categoriestree div img{margin:0px 3px;}
.s1{width:30px;display:inline-block;}
.s2{width:60px;display:inline-block;}
.s3{width:90px;display:inline-block;}
.s4{width:120px;display:inline-block;}
.s5{width:150px;display:inline-block;}
.s6{width:180px;display:inline-block;}
.s7{width:210px;display:inline-block;}
.f{width:28px;display:inline;float:left;background:url(folder.gif);background-repeat:no-repeat;margin-right:0px;}
.f2{width:28px;display:inline;float:left;background:url(folder.gif);background-position:0 -14;background-repeat:no-repeat;margin-right:-30px;}
.f3{width:28px;display:inline;float:left;background:url(folder.gif);background-position:0 -28;background-repeat:no-repeat;margin-right:-30px;}
.tdnum{text-align:right;}
.ci{xpadding-left:30px;}
.categoryselect select{margin-right:3px;display:none;}
.i{display:inline;padding-left:-3px;width:9px;}
.i a{margin-left:-3px;}
.w9{width:9px;}
.w20{width:20px;}
.treeroot{display:inline;width:22px;background:url(folder.gif);background-position:-9;background-repeat:no-repeat;}
.r{float:right;margin-top:-3px;}
.welcomeright{float:right;width:330px;height:95px;overflow:hidden;border-left:dashed 1px #CCCCCC;padding-left:10px;}
.templateright{float:right;width:180px;overflow:hidden;border-left:dashed 1px #CCCCCC;}

#header{width:100%;height:50px;overflow:hidden;background:#2569B3;xbackground:url(headerbg.png);line-height: 40px;}
#logo{float:left;height:50px;width:158px;border:0px;overflow:hidden; margin-left:15px;}
#nav{float:left;padding-top:5px; display:none;}
#nav ul{}
#nav li{float:left;height:16px;padding:4px 15px 0px 15px;margin-right:5px;background:#698CC4;list-style:none;color:#EEEEEE;cursor:pointer}
#nav li.current{background:#9EB6D8;padding:4px 15px;margin-top:-2px;color:#FFFFFF;border-top:1px solid #555555;border-right:1px solid #555555;}

#menu{position:absolute;left:0px;overflow:hidden;margin-top:3px;margin-left:2px;border:1px solid #688DC1;overflow:visible;display:none;}
#menu ul{overflow:hidden;margin:0px;border:1px solid #D7E0F1;background:#F8F8F8;}
#menu li{height:21px;overflow:hidden;list-style:none;}
.menutitle{height:19px;padding:0px;padding-left:4px;padding-top:6px;overflow:hidden;background:#698CC4;color:#FFFFFD;border:1px solid #D7E0F1;border-bottom:0px;text-align:center;}
#menu li a{display:block;padding:4px 5px;color:#000000;text-decoration:none;}
#menu li a:hover{color:#666666;text-decoration:none;}
#menu li.current{margin:2px 0px;background:#9EB6D8;}
#menu li.current a{display:block;color:#000;padding:4px 5px;text-decoration:none;}
#menu_header{background:url(sprites.png);height:2px;overflow:hidden;}
#menu_footer{background:url(sprites.png);background-position:0px -3px;background-repeat:no-repeat;height:2px;overflow:hidden;margin-top:5px;}
#menu li a.menuplus {display:block;padding:0px;padding-right:3px;padding-top:1px;float:right;font-size:14px;}
#c{width:2px;position:absolute;background:#9EB6D8;height:21px;left:-9px;}
#newversion a{color:red;}
a.help{color:yellow;font-size:9px;background:green;padding:0px 2px;height:13px;overflow:hidden;line-height:12px;}
a.help2{color:red;font-size:9px;background:#006B9F;padding:0px 2px;height:13px;overflow:hidden;line-height:12px;float:right;}
#switchmode{float:right;padding:6px;}
#favorite{float:left; border-left:0px #a5c6eb solid;}
#createhtml{float:left; border-left:0px #a5c6eb solid;}
#webeditor{float:left; border-left:0px #a5c6eb solid;}
#account{float:right; border-left:0px #a5c6eb solid;}
#header b{ display:none;}
/*--------------------------*/
#header a{line-height:52px;width:68px;float:left;text-align:center; border-left:0px #2261a6 solid;}
#header a:link,#header a:visited{font-size: 12px; color:#fff;background-color:#2569B3;}
#header a:hover,#header a:active{font-size: 12px; color:#d3ffd5; xfont-weight:bold; background-color:#328bec;}
#logo a{line-height:50px;width:158px;float:left;text-align:center; border-left:0px #2261a6 solid;}
#logo a:link,#logo a:visited{font-size: 12px; color:#fff;background-color:#2569B3;}
#logo a:hover,#logo a:active{font-size: 12px; color:#d3ffd5; xfont-weight:bold; background-color:#2569B3;}
#bodyiframe{ width:100%;}
.mainfrom{ padding:12px;}
.commontable .yztr:hover{ background-color:#d2f1c4; font-weight:bold;}
.commontable .header:hover{ background-color:#6093ca; font-weight:bold;}
.commontable tr:hover td{background:none;}
/*.ci:hover{ background-color:#d2f1c4; xfont-weight:bold;}*/
.ci .yzline{padding-left:30px; line-height:28px; margin-bottom:0px;margin-top:0px;border-bottom: 1px #CCC solid;background-color: #F1F1F1;}
.ci .yzline a:link,.ci .yzline a:visited{font-size: 12px; color:#036; font-weight:bold;}
.ci .yzline a:hover,.ci .yzline a:active{font-size: 12px; color:#036; font-weight:bold;}
.ci .ci .yzline{padding-left:60px; line-height:22px; margin-bottom:0px;margin-top:0px;border-bottom:none;background-color: #fff;}
.ci .ci .yzline a:link,.ci .ci .yzline a:visited{font-size: 12px; color:#036; font-weight:normal;}
.ci .ci .yzline a:hover,.ci .ci .yzline a:active{font-size: 12px; color:#036; font-weight:normal;}
.ci .yzline:hover{ background-color:#F1F1F1; xfont-weight:bold;padding-left:30px;}
.ci .ci .yzline:hover{ background-color:#d2f1c4; xfont-weight:bold;padding-left:60px;}

.commontable tr .yzorderby4 {width:40px;}
.commontable tr .yztitle {width:200px;white-space: nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}
.commontable tr .yz_pagetitle4 {width:200px;white-space: nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}
.commontable tr .yzdigest4 {width:300px;white-space: nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}
.commontable tr .yzfilename {width:200px;white-space: nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}
.commontable tr .yzorderby24  {width:48px;}
.xcommontable {table-layout:fixed;}